.orderDetails {
    padding: 120px 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderDetailsCheck {
    width: 120px;
    height: 120px;
   background: url('../../images/graphics.png') no-repeat center / contain;
}