.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 720px;
    max-width: 720px;
    background-color: #1c1c21;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
    z-index: 1001;
}

.modal–°lose {
    position: absolute;
    top: 60px;
    right: 40px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
}
