.ingredientDetails {
    padding: 50px 40px 60px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
}

.info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.infoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
